/* globals.css */
.content-text * {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  pointer-events: none;
  /* color: #000; */
  text-decoration: none;
  line-height: 1.5rem;
  /* padding: 0; */
  margin: 0;
}

.blog-tile {
  transition: background 0.2s ease-in-out;
  border-radius: 0.5rem;
  padding: 1rem;
}

.blog-tile:hover {
  background: rgba(0, 0, 0, 0.05);
}

.topbar path {
  transition: all 0.2s ease;
}


/* Styling for the content inside the textbox */
.content {
  color: #333;
}

/* Bootstrap classes for padding and border radius inside the textbox */
.content p {
  margin-bottom: 0;
}

.experience {
  border: 1px solid #e0e0e0;
  border-radius: 10px
}

.animate {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.animate img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  border-radius: 0;
  animation: border-transform 10s linear infinite alternate forwards;
  animation-name: border-transform;
}

.home h1,
.blogs>h1,
.about h1,
.topbar h1,
.contact h1 {
  font-family: 'Audiowide', cursive;
}

.search-form {
  position: relative;
}

.search-form input {
  padding: 15px;
  padding-right: 40px;
}

#search-icon {
  cursor: pointer;
  position: absolute;
  right: -19px;
  width: 40px;
  height: calc(100% - 2px);
  border-radius: 0 0.375rem 0.375rem 0;
  border-left: none;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 200ms ease-in-out;
}

.search-form input:focus+#search-icon {
  background-color: #e9ecef;
}

#search-icon:hover {
  background-color: #e9ecef;
}


.name {
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Audiowide', cursive;
  padding: 0;
  margin: 0;
}

.popover {
  max-width: 60%;
}

@keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  transition: opacity 250ms ease 0s;
}

.scrollToTopBtn {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  transition: background-color 250ms ease 0ms, box-shadow 250ms ease 0ms;
}


@media only screen and (max-width: 786px) {
  html[data-bs-theme="light"] .btn-outline-light {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
  }

  .blog-tile-image {
    display: none !important;
  }

  .blog-content {
    width: 100% !important;
  }

  .hello {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .hello>div:first-child {
    width: 75%;
  }

  .hello>div {
    margin: 0 !important;
  }

  .experience {
    flex-direction: column;
    height: unset;
  }

  .experience>div {
    width: 100%;
  }

  .popover {
    max-width: 80%;
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .links .col {
    width: 100%;
    justify-content: center !important;
  }
}

.bi-trophy-fill {
  fill: #000;
}

.bg-dark-grey {
  background-color: hsl(210, 11%, 20%)
}

html[data-bs-theme="dark"] :root {
  --bs-emphasis-color-rgb: 0, 0, 0;
}

html[data-bs-theme="dark"] .content {
  color: #f2f2f2;
}

html[data-bs-theme="dark"] .content h1 {
  color: #f2f2f2 !important;
}

html[data-bs-theme="dark"] .btn-outline-secondary {
  --bs-btn-color: #f2f2f2;
}

html[data-bs-theme="dark"] .bi-trophy-fill {
  fill: #f2f2f2;
}

html[data-bs-theme="dark"] .search-form input:focus+#search-icon {
  background-color: hsl(210, 11%, 20%)
}

html[data-bs-theme="dark"] #search-icon:hover {
  background-color: hsl(210, 11%, 20%)
}

html[data-bs-theme="dark"] .scrollToTopBtn {
  background-color: #f2f2f2
}

html[data-bs-theme="dark"] .scrollToTopBtn:hover {
  background-color: #787878
}

html[data-bs-theme="dark"] .scrollToTopBtn svg {
  stroke: rgb(33, 33, 33);
}

html[data-bs-theme="dark"] .copy-button {
  fill: #acb5bd;
  transition: fill 200ms ease-in-out;
}

html[data-bs-theme="dark"] .copy-button:hover {
  fill: #f2f2f2;
}