/* .content-text {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.content-text * {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    pointer-events: none;
    color: #000;
    text-decoration: none;
    line-height: 1.5rem;
    /* padding: 0; */
    margin: 0;
}

.blog-tile {
    transition: background 0.2s ease-in-out;
    border-radius: 0.5rem;
    padding: 1rem;
}

.blog-tile:hover {
    background: rgba(0, 0, 0, 0.05);
}