@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.content-text * {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  pointer-events: none;
  color: #000;
  text-decoration: none;
  line-height: 1.5rem;
  /* padding: 0; */
  margin: 0;
}

.blog-tile {
  transition: background 0.2s ease-in-out;
  border-radius: 0.5rem;
  padding: 1rem;
}

.blog-tile:hover {
  background: rgba(0, 0, 0, 0.05);
}


/* Styling for the content inside the textbox */
.content {
  color: #333;
}

/* Bootstrap classes for padding and border radius inside the textbox */
.content p {
  margin-bottom: 0;
}

.experience {
  border: 1px solid #e0e0e0;
  border-radius: 10px
}

.animate {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.animate img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  border-radius: 0;
  animation: border-transform 10s linear infinite alternate forwards;
  animation-name: border-transform;
}

.home h1,
.blogs>h1,
.topbar h1 {
  font-family: 'Audiowide', cursive;
}

.name {
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Audiowide', cursive;
  padding: 0;
  margin: 0;
}

@keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  transition: opacity 250ms ease 0s;
}

.scrollToTopBtn {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  transition: background-color 250ms ease 0ms, box-shadow 250ms ease 0ms;
}


@media only screen and (max-width: 786px) {
  .blog-tile-image {
    display: none;
  }

  .blog-content {
    width: 100% !important;
  }

  .hello {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hello>div:first-child {
    width: 75%;
  }

  .experience {
    flex-direction: column;
    height: unset;
  }

  .experience>div {
    width: 100%;
  }
}